Gordian placement (Paper 5-3)
Algorithm tutorial: Gordian algorithm

1. Coding Requirements
Implement the basic algorithm and produce placement results on all of the benchmark circuits.
Convert the global placement into a standard cell row structure.
For each benchmark, compute the best possible chip dimension (aspect ration close to 1) and the number of rows.
Use a sparse matrix handling tool to handle large circuits. You do not have to implement a QP solver.

2. GUI Requirements
Show the placement shot at each level along with connectivity information. You may choose to show a subset of connections for dense designs.
At the end of QP placement iterations, you are to show the final placement using the chip and row information.

3. Animation Requirements
Using benchmark structP, create a short video that shows the placement progress after each level and its final row placement. Make sure to use the identical background during the successive frames in your video.

4. Benchmark
README-hgr.txt
Explanation of the chip info
fract.hgr, fract.dim, fract.io.
industry2.hgr, industry2.dim, industry2.io.
industry3.hgr, industry3.dim, industry3.io.
biomedP.hgr, biomedP.dim, biomedP.io.
p1.hgr, p1.dim, p1.io.
p2.hgr, p2.dim, p2.io.
structP.hgr, structP.dim, structP.io.

5. Possible Extensions
Upgrade the partitioning engine to KL.
Perform clustering as a pre-process.
Compare among multiple QP solvers available.